<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chaoxu.mapper.DocumentMapper">

    <cache/>
    <insert id="saveDir">
        INSERT INTO t_document(name,size,createuser, type, filename, md5, fid, contexttype) VALUES (#{name},#{size},#{createuser},#{type},#{filename},#{md5},#{fid},#{contexttype})
    </insert>

    <select id="findDocByFid" resultType="com.chaoxu.pojo.Document">
        SELECT * FROM  t_document WHERE fid = #{fid} order by id desc
    </select>
    <select id="findDocById" resultType="com.chaoxu.pojo.Document">
        SELECT * FROM  t_document WHERE id=#{id}
    </select>
</mapper>